flow.json
[{"type":"tab","id":"8eb35af3.714ca8","label":"Sheet 1"},{"id":"378d9c83.c87264","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"9f41c368.60be4","type":"inject","name":"Tea Time Start","topic":"","payload":"Tea Time Start","payloadType":"string","repeat":"","crontab":"00 16 * * *","once":false,"x":127.9999771118164,"y":293.08332538604736,"z":"8eb35af3.714ca8","wires":[["ce22da99.31dd28"]]},{"id":"706ef0d5.8f911","type":"function","name":"Internal Motion","func":"var payload = parseInt(msg.payload);\n\nif (payload === 1) {\n  return {\n    payload: \"Motion 1\",\n    weight: 100\n  };\n}","outputs":1,"x":294.9999771118164,"y":78.08331298828125,"z":"8eb35af3.714ca8","wires":[["36083803.c9f7c8"]]},{"id":"48150597.b7eafc","type":"function","name":"External Motion","func":"var payload = parseInt(msg.payload);\n\nif (payload === 1) {\n  return {\n    payload: \"Motion 2\",\n    weight: 90\n  };\n}","outputs":1,"x":291.9999771118164,"y":171.08331298828125,"z":"8eb35af3.714ca8","wires":[["36083803.c9f7c8"]]},{"id":"424ec2ca.bdb13c","type":"inject","name":"Tea Time End","topic":"","payload":"Tea Time End","payloadType":"string","repeat":"","crontab":"00 17 * * *","once":false,"x":124.9999771118164,"y":342.08331298828125,"z":"8eb35af3.714ca8","wires":[["ce22da99.31dd28"]]},{"id":"57c3c64a.a83c38","type":"inject","name":"Idle Timer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 9-17 * * *","once":false,"x":111.833251953125,"y":244.3636474609375,"z":"8eb35af3.714ca8","wires":[["f93bcdba.06c43"]]},{"id":"91754112.6e8ac","type":"inject","name":"Simulate Pin 11","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":132.19689178466797,"y":55,"z":"8eb35af3.714ca8","wires":[["706ef0d5.8f911"]]},{"id":"a8cd403d.5732c","type":"function","name":"Completed Action","func":"context.global.lastCompletedAt = (new Date()).getTime();\ncontext.global.currentAction = null;\nreturn msg;","outputs":"0","x":1077.924201965332,"y":222.54547119140625,"z":"8eb35af3.714ca8","wires":[]},{"id":"f93bcdba.06c43","type":"function","name":"Idle Gate","func":"var lastCompletedAt = context.global.lastCompletedAt,\n    fifteenMin = 15 * 60 * 1000,\n    currentTime = parseInt(msg.payload),\n    action = context.global.currentAction;\n\n\nif (!lastCompletedAt\n    || (currentTime < lastCompletedAt + fifteenMin)) {\n  return {\n    payload: \"Idle\",\n    weight: 10\n  };\n}\n\nreturn null;","outputs":1,"x":297.37872314453125,"y":243.272705078125,"z":"8eb35af3.714ca8","wires":[["36083803.c9f7c8"]]},{"id":"fb6b2586.0494d8","type":"inject","name":"Simulate Pin 12","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":129.83325958251953,"y":148,"z":"8eb35af3.714ca8","wires":[["48150597.b7eafc"]]},{"id":"36083803.c9f7c8","type":"function","name":"Action Priority","func":"var action = context.global.currentAction;\n\nif (!action) {\n  return msg;\n}\n\nvar mWeight = parseInt(msg.weight),\n    aWeight = parseInt(action.weight);\n\nif (mWeight > aWeight) {\n  return msg;\n}\n\nreturn null;","outputs":"1","x":545.8332824707031,"y":223,"z":"8eb35af3.714ca8","wires":[["424f07e0.bdb0f8"]]},{"id":"17899af9.e87665","type":"function","name":"Start Action","func":"context.global.currentAction = msg;\nreturn msg;","outputs":1,"x":914.8332595825195,"y":168,"z":"8eb35af3.714ca8","wires":[["acb286ff.534d78"]]},{"id":"ce22da99.31dd28","type":"function","name":"Tea Time Weight","func":"msg.weight = 30;\nreturn msg;","outputs":1,"x":342.833251953125,"y":316,"z":"8eb35af3.714ca8","wires":[["36083803.c9f7c8"]]},{"id":"14e824a1.eb17db","type":"omxplayer","name":"Play Video","x":911.0000076293945,"y":229,"z":"8eb35af3.714ca8","wires":[["a8cd403d.5732c"],["9c0b0251.63f5"]]},{"id":"424f07e0.bdb0f8","type":"function","name":"Pick Video","func":"var key;\n\nswitch (msg.payload) {\n  case \"Motion 1\":\n    key = \"motion\";\n    break;\n  case \"Motion 2\":\n    key = \"motion\";\n    break;\n  case \"Tea Time Start\":\n    key = \"tea_time\";\n    break;\n  case \"Tea Time End\":\n    key = \"tea_time\";\n    break;\n  case \"Idle\":\n    key = \"idle\"\n    break;\n}\n\nvar videos = context.global.videos[key],\n    video = videos[Math.floor(Math.random() * videos.length)];\n\nmsg.video = video;\nreturn [msg, {payload: video.path}];","outputs":"2","x":718.0000076293945,"y":223,"z":"8eb35af3.714ca8","wires":[["17899af9.e87665"],["14e824a1.eb17db"]]},{"id":"9c0b0251.63f5","type":"debug","name":"Video Error","active":true,"console":"true","complete":"false","x":1068.0000076293945,"y":295,"z":"8eb35af3.714ca8","wires":[]},{"id":"e25b5375.1da4b","type":"rpi-gpio in","name":"","intype":"tri","pin":"11","x":114.9999771118164,"y":102,"z":"8eb35af3.714ca8","wires":[["706ef0d5.8f911"]]},{"id":"51277da.faed884","type":"rpi-gpio in","name":"","intype":"tri","pin":"12","x":113.9999771118164,"y":196,"z":"8eb35af3.714ca8","wires":[["48150597.b7eafc"]]},{"id":"acb286ff.534d78","type":"debug","name":"Start Action","active":true,"console":"true","complete":"true","x":1087.0000076293945,"y":150,"z":"8eb35af3.714ca8","wires":[]}]