flow.json
[{"type":"tab","id":"8eb35af3.714ca8","label":"Sheet 1"},{"id":"378d9c83.c87264","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"9f41c368.60be4","type":"inject","name":"Tea Time Start","topic":"","payload":"Tea Time Start","payloadType":"string","repeat":"","crontab":"00 16 * * *","once":false,"x":466,"y":401.08332538604736,"z":"8eb35af3.714ca8","wires":[["ce22da99.31dd28"]]},{"id":"706ef0d5.8f911","type":"function","name":"Internal Motion","func":"var payload = parseInt(msg.payload);\n\nif (payload === 1) {\n  return {\n    payload: \"Motion 1\",\n    weight: 100\n  };\n}","outputs":1,"x":630,"y":232.08331298828125,"z":"8eb35af3.714ca8","wires":[["4e6b62ef.b1949c"]]},{"id":"48150597.b7eafc","type":"function","name":"External Motion","func":"var payload = parseInt(msg.payload);\n\nif (payload === 1) {\n  return {\n    payload: \"Motion 2\",\n    weight: 90\n  };\n}","outputs":1,"x":627,"y":325.08331298828125,"z":"8eb35af3.714ca8","wires":[["4e6b62ef.b1949c"]]},{"id":"424ec2ca.bdb13c","type":"inject","name":"Tea Time End","topic":"","payload":"Tea Time End","payloadType":"string","repeat":"","crontab":"00 17 * * *","once":false,"x":463,"y":450.08331298828125,"z":"8eb35af3.714ca8","wires":[["ce22da99.31dd28"]]},{"id":"57c3c64a.a83c38","type":"inject","name":"Idle Timer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 9-17 * * *","once":false,"x":450.8332748413086,"y":509.3636474609375,"z":"8eb35af3.714ca8","wires":[["f93bcdba.06c43"]]},{"id":"91754112.6e8ac","type":"inject","name":"Simulate Pin 11","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":467.19691467285156,"y":209,"z":"8eb35af3.714ca8","wires":[["706ef0d5.8f911"]]},{"id":"a8cd403d.5732c","type":"function","name":"Completed Action","func":"context.global.lastCompletedAt = (new Date()).getTime();\ncontext.global.currentAction = null;\nreturn msg;","outputs":"0","x":1053.9241943359375,"y":846.5454711914062,"z":"8eb35af3.714ca8","wires":[]},{"id":"f93bcdba.06c43","type":"function","name":"Idle Gate","func":"var lastCompletedAt = context.global.lastCompletedAt,\n    fifteenMin = 15 * 60 * 1000,\n    currentTime = parseInt(msg.payload),\n    action = context.global.currentAction;\n\n\nif (!lastCompletedAt\n    || (currentTime < lastCompletedAt + fifteenMin)) {\n  return {\n    payload: \"Idle\",\n    weight: 10\n  };\n}\n\nreturn null;","outputs":1,"x":610.3787460327148,"y":509.272705078125,"z":"8eb35af3.714ca8","wires":[["e3e5a508.1c1a58"]]},{"id":"fb6b2586.0494d8","type":"inject","name":"Simulate Pin 12","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":464.8332824707031,"y":302,"z":"8eb35af3.714ca8","wires":[["48150597.b7eafc"]]},{"id":"36083803.c9f7c8","type":"function","name":"Action Priority","func":"var action = context.global.currentAction;\n\nif (!action) {\n  return msg;\n}\n\nvar mWeight = parseInt(msg.weight),\n    aWeight = parseInt(action.weight);\n\nif (mWeight > aWeight) {\n  return msg;\n}\n\nreturn null;","outputs":"1","x":521.8332748413086,"y":847,"z":"8eb35af3.714ca8","wires":[["424f07e0.bdb0f8"]]},{"id":"17899af9.e87665","type":"function","name":"Start Action","func":"context.global.currentAction = msg;\nreturn msg;","outputs":1,"x":890.833251953125,"y":792,"z":"8eb35af3.714ca8","wires":[[]]},{"id":"ce22da99.31dd28","type":"function","name":"Tea Time Weight","func":"msg.weight = 30;\nreturn msg;","outputs":1,"x":678.8332748413086,"y":424,"z":"8eb35af3.714ca8","wires":[["73085c51.8cf7a4"]]},{"id":"14e824a1.eb17db","type":"omxplayer","name":"Play Video","x":887,"y":853,"z":"8eb35af3.714ca8","wires":[["a8cd403d.5732c"],["9c0b0251.63f5"]]},{"id":"424f07e0.bdb0f8","type":"function","name":"Pick Video","func":"var key;\n\nswitch (msg.payload) {\n  case \"Motion 1\":\n    key = \"motion\";\n    break;\n  case \"Motion 2\":\n    key = \"motion\";\n    break;\n  case \"Tea Time Start\":\n    key = \"tea_time\";\n    break;\n  case \"Tea Time End\":\n    key = \"tea_time\";\n    break;\n  case \"Idle\":\n    key = \"idle\"\n    break;\n}\n\nvar videos = context.global.videos[key],\n    video = videos[Math.floor(Math.random() * videos.length)];\n    \nreturn [msg, {payload: video.path}];","outputs":"2","x":694,"y":847,"z":"8eb35af3.714ca8","wires":[["17899af9.e87665"],["14e824a1.eb17db"]]},{"id":"9c0b0251.63f5","type":"debug","name":"Video Error","active":true,"console":"true","complete":"false","x":1044,"y":919,"z":"8eb35af3.714ca8","wires":[]},{"id":"e25b5375.1da4b","type":"rpi-gpio in","name":"","intype":"tri","pin":"11","x":445,"y":256,"z":"8eb35af3.714ca8","wires":[["706ef0d5.8f911"]]},{"id":"51277da.faed884","type":"rpi-gpio in","name":"","intype":"tri","pin":"12","x":453,"y":350,"z":"8eb35af3.714ca8","wires":[["48150597.b7eafc"]]},{"id":"8bd9e50b.742618","type":"mqtt in","name":"Actions","topic":"action/#","broker":"378d9c83.c87264","x":349,"y":847,"z":"8eb35af3.714ca8","wires":[["36083803.c9f7c8"]]},{"id":"4e6b62ef.b1949c","type":"mqtt out","name":"Motion","topic":"action/motion","broker":"378d9c83.c87264","x":791,"y":274,"z":"8eb35af3.714ca8","wires":[]},{"id":"73085c51.8cf7a4","type":"mqtt out","name":"Tea Time","topic":"action/tea-time","broker":"378d9c83.c87264","x":844,"y":424,"z":"8eb35af3.714ca8","wires":[]},{"id":"e3e5a508.1c1a58","type":"mqtt out","name":"Idle","topic":"action/idle","broker":"378d9c83.c87264","x":771,"y":509,"z":"8eb35af3.714ca8","wires":[]}]